<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>

      <div class="nav-container">
        <a href="{{site.baseurl}}/">Whoami</a>
        <a href="{{site.baseurl}}/portfolio">Portfolio</a>
        <a href="{{site.baseurl}}/resume">Resume</a>
        <a href="{{site.baseurl}}/contact">Contact</a>
      </div>

      <!-- <div class="search-icon-container">
        <span class="search-icon"
          ><a><i class="fa fa-search" aria-hidden="true"></i></a
        ></span>
      </div> -->
    </div>
  </div>
</header>
<!-- End Header -->
