/* = = = = = = = = = = Header Styles = = = = = = = = = = */
.main-header {
  font-family: 'Lato', sans-serif;
  padding: 15px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}

.main-header .header-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header .logo {
  text-align: center;
}

.main-header .logo a {
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 25px;
  font-weight: 300;
  color: #311e3e;
}

/* ! removed side nav */
/* .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 25px 30px;
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.main-nav ul {
  padding: 15px 0 0;
  margin: 0;
  list-style: none;
}

.main-nav ul li {
  border-bottom: 1px solid #d9d9d9;
}

.main-nav ul li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color: #311e3e;
}

.main-nav ul li a:hover {
  opacity: 0.8;
  color: #87314e;
} 

.menu-icon-container {
  width: 25%;
  text-align: left;
} */

.nav-container {
  margin-left: auto;

  display: flex;
}

.nav-container a {
  display: block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #311e3e;
}

.nav-container a:hover {
  opacity: 0.8;
  color: #87314e;
}

.search-icon-container {
  text-align: right;
}

.menu-icon,
.menu-icon-close,
.search-icon a,
.search-icon-close {
  cursor: pointer;
  font-size: 18px;
  color: #311e3e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
}

.menu-icon:hover,
.menu-icon-close:hover,
.search-icon a:hover,
.search-icon-close:hover {
  opacity: 0.8;
}
