/* = = = = = = = = = = Post-Page Styles = = = = = = = = = = */
.page-image {
  position: relative;
  padding: 0;
  margin: 0;
  height: 500px;
  background-color: #fff;
  overflow: hidden;
}

.page-image .cover-image {
  height: 100%;
  width: 100%;
}

.page-content {
  margin-top: -80px;
  margin-bottom: 100px;
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.header-page {
  position: relative;
  margin-bottom: 30px;
}

.header-page h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin: 0 0 20px;
  color: #311e3e;
}

.header-page .page-date {
  text-align: center;
  font-size: 14px;
  /* text-transform: uppercase; */
  font-weight: 300;
}

.page-footer {
  margin-top: 30px;
  padding-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer .page-tag,
.page-footer .page-share {
  /* text-transform: uppercase; */
  font-size: 12px;
  color: #311e3e;
}

.page-footer .page-tag {
  margin-bottom: 10px;
}

.page-footer .page-tag a {
  text-decoration: none;
  color: #87314e;
}

.page-footer .page-tag a:hover {
  opacity: 0.8;
}

.page-footer .page-share a {
  text-decoration: none;
  color: #999999;
  margin-left: 10px;
  font-size: 18px;
}

.page-footer .page-share a:hover {
  opacity: 0.8;
}

.recent-box {
  margin-top: 30px;
}

.recent-box .recent-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #311e3e;
  text-align: center;
  margin: 0 0 30px;
}

.recent-box .recent-list .recent-item {
  position: relative;
  display: inline-block;
  width: 24%;
  height: 150px;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recent-box .recent-list .recent-item span {
  position: absolute;
  font-size: 12px;
  left: 2.5%;
  bottom: 10%;
  color: #fff;
}

.recent-box .recent-list .recent-item:hover {
  opacity: 0.8;
}

.newsletter {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.newsletter .newsletter-title {
  font-weight: 400;
}

.newsletter .form-container {
  padding: 30px;
  background-color: #efefef;
  width: 720px;
  max-width: 100%;
  margin: 0 auto;
}

.newsletter .form-container p {
  margin: 0;
}

.newsletter .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.newsletter .newsletter-box {
  position: relative;
  max-width: 100%;
  margin: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.newsletter .newsletter-box .email-input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 40px;
  padding: 8px 10px;
  width: 100%;
  max-width: 100%;
  color: #3e3e40;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  outline: none;
}

.newsletter .newsletter-box .subscribe-btn {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #311e3e;
  vertical-align: baseline;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.newsletter .newsletter-box .subscribe-btn:hover {
  background-color: #87314e;
}
